*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url("https://res.cloudinary.com/ddtech/image/upload/v1569248094/TEAM%20STYX/BACK_GROUND_gcahlg.png");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
}

.nav {
    color: ;
    background-color: none;
    padding: 10px;
    padding-top: 30px;
    display: flex;
    position: relative;
    float: center;
    margin-left: 7%;
}

#link_bar a {
    padding: 15px;
    font-weight: bold;
    float: left;
}

#link_bar a:link {
    color: rgb(15, 129, 19);
}

#link_bar a:visited {
    color: rgb(15, 129, 19);
}

#link_bar a:hover {
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    background-color: rgb(124, 218, 17);
    border-radius: 15px;
}

#link_bar a:active {
    color: #f0f0f0;
    background-color: #00ff00;
}

/*button*/
.btn {
    background-color: rgb(15, 129, 19);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
    margin-top: 25%;
    margin-left: 7%;

}

.btn {
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}

.btn:hover {
    background-color: grey;
    color: white;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    color: white;
    text-decoration: none;
}
#foot-icons{
    margin-left: 7%;
    margin-top: 10%;
    word-spacing: 3em;
}
